// Approov service web attester domain
export const APPROOV_ATTESTER_DOMAIN = 'web-1.approovr.io'

// Approov Shapes example API key
export const SHAPES_API_KEY = "yXClypapWNHIifHUWmBIyPFAm"

// Approov web site key
export const APPROOV_SITE_KEY = '___APPROOV_SITE_KEY___'

// Fingerprint public API key
export const FINGERPRINT_PUBLIC_API_KEY = '___FINGERPRINT_PUBLIC_API_KEY___'
